<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Passport Detail</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="agent-name">
        Passport Date
    </label>
    <input type="date" disabled="disabled" name="pre-medical-date" class="form-control" id="pre-medical-date" />

  </div>
  <div class="col-md-12 form-group">
      <label for="pre-medical-status">
          Passport Status
      </label>
      <input type="text" disabled="disabled" name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Pass" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="pre-medical-validity">
            Passport Validity
        </label>
        <input type="date" disabled="disabled" name="pre-medical-validity" class="form-control" id="pre-medical-validity">
    
      </div>
      
        </div>
</div>
