<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Update Payment</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="agent-name">
      Applicant Name
    </label>
    <input type="text" name="applicant-name" class="form-control" id="applicant-name" placeholder="Name" />

  </div>
  <div class="col-md-12 form-group">
      <label for="branch-name">
        Registration
      </label>
      <input type="text" name="registration" class="form-control" id="registration" placeholder="Registration" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="country-code">
          Total Money Recieved
        </label>
        <input type="text" name="total-money-recieved" class="form-control" id="total-money-recieved" placeholder="1000">
    
      </div>
      <div class="col-md-12 form-group">
        <label for="agent-name">
          Agent Name
        </label>
        <input type="text" name="agent-name" class="form-control" id="agent-name" placeholder="Name" />
    
      </div>
        <div class="col-md-12 form-group">
           <button type="submit" name="submit" class="btn btn-fps">Update</button>
           <a routerLink="../" routerLinkClass="active" class="btn btn-fps">Cancel</a>
        </div>
        </div>
</div>
