<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Personal Detail</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="agent-name">
      Agent Name
    </label>
    <input type="text" name="agent-name" class="form-control" id="agent-name" placeholder="Agent" />

  </div>
  <div class="col-md-12 form-group">
      <label for="applicant-name">
        Applicant Name
      </label>
      <input type="text" name="applicant-name" class="form-control" id="applicant-name" placeholder="name" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="country-code">
          Email
        </label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Hello@company.com">
    
      </div>
      <div class="col-md-12 form-group">
          <label for="phone-number">
            Phone Number
          </label>
          <input type="text" name="phone-number" class="form-control" id="phone-number" placeholder="0000000000" />
      
        </div>
      <div class="col-md-12 form-group">
          <label for="branch-manager-name">
            Address
          </label>
          <textarea class="form-control" name="address">
            </textarea>
      
        </div>
        <div class="col-md-12 form-group">
            <label for="date-of-birth">
              dat Of Birth
            </label>
            <input type="date" name="date-of-birth" class="form-control" id="date-of-birth" />
        
          </div>
          <div class="col-md-12 form-group">
              <label for="money-recieved">
               Money Recieved
              </label>
              <input type="text" name="money-recieved" class="form-control" id="money-recieved" />
          
            </div>
            <div class="col-md-12 form-group">
                <label for="photo">
                 Photo
                </label>
                <input type="file" name="photo" class="form-control" id="photo"/>
            
              </div>
        <div class="col-md-12 form-group">
           <button type="submit" name="submit" class="btn btn-fps">Edit</button>
           <button type="button" name="delete" class="btn btn-fps">Delete</button>
           <a routerLink="../" routerLinkClass="active" class="btn btn-fps">CANCEL</a>
        </div>
        </div>
</div>
