<div class="col-md-12">
  <form name="update-payment-form" action="#" method="POST">
  <div class="col-md-12 box-heading-container">
    <p>Select Candidate</p>
  </div>
  <div class="col-md-12 box-value-container">
    <div class="col-md-12 form-group">
      <label for="select-candidates">Select Candidates</label>
      <select name="select-candidates" class="form-control" id="select-candidates">
        <option value="agent-one">Candidate One</option>
        <option value="agent-two">Candidate Two</option>
      </select>
    </div>
    <div class="col-md-12 form-group">
      <label for="reason">
        Reason
      </label>
      <textarea name="reason" id="reason" class="form-control"></textarea>
    </div>
    <div class="col-md-12 form-group">
      <label for="reason">
        Amount Paid
      </label>
      <input tyep="text" name="amount-paid" class="form-control" id="amount-paid" placeholder="8000">
    </div>
    <div class="col-md-12 form-group">
      <label for="reason">
        Update Document
      </label>
      <input type="file" name="document" class="form-control" id="document">
    </div>
    
    <div class="col-md-12 form-group">
      <button type="submit" name="submit" class="btn btn-fps">OK</button>
    </div>
  </div>
  </form>
</div>
