<div class="col-md-12">
  <div class="col-md-12 box-heading-container">
    <p>Pay Agent</p>
  </div>
  <div class="col-md-12 box-value-container">
    <div class="col-md-12 form-group">
      <label for="select-agents">Agent Name</label>
      <select name="select-agents" class="form-control" id="select-agents">
        <option value="agent-one">Agent One</option>
        <option value="agent-two">Agent Two</option>
      </select>
    </div>
    <div class="col-md-12 form-group">
      <a routerLink="detail" routerLinkClass="active" class="btn btn-fps">Update Payment</a>
    </div>
  </div>
</div>
